.divLogo {
    background: #272c3b;
}

ul li {
    display: inline;
}

li {
    list-style: none;
  
    padding-left:3px;
    padding-right:3px;
}

.searchLetter {
    color: rgb(57, 57, 57);
    margin: 3px;
    font-size: 50px;
}

.searchLetter:hover{
    color: rgb(0, 0, 0);
    font-weight: 500;
    cursor: pointer;
}

.center {
    text-align: center;
}

.bodyModal{
    height: 500px;
}

.inputDefinicion{
    height: 360px;
}