.divLogo {
    background: #272c3b;
}

.navbar{
    display: flex;
    justify-content: center;
    background: #272c3b;
    padding: 15px;
}

ul li {
    display: inline;
}

li {
    list-style: none;
  
    padding-left:3px;
    padding-right:3px;
}

.searchLetter {
    color: rgb(57, 57, 57);
    margin: 3px;
    font-size: 50px;
}

.searchLetter:hover{
    color: rgb(0, 0, 0);
    font-weight: 500;
    cursor: pointer;
    font-weight: 600;
}

.center {
    text-align: center;
}

.bodyModal{
    height: 500px;
}

.inputDefinicion{
    height: 360px;
}

.card{
    margin: 10px;
}

.card-body:hover{
    background: #f2f2f2;
}